button {
    border: none;
    background-color: rgb(56, 56, 59);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(83, 83, 86);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(56, 56, 59);
    color: rgb(209, 17, 17);
  }
  
  .equals:hover {
    background-color: rgb(83, 83, 86);
  }